@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-bg{
background: linear-gradient(135deg,#A9D6E5 0%,#A3B18A 100%);
}

.orange-gradient{
background: linear-gradient(90deg,#ec9213 0%,#f4a261 100%);
}

.bg-background-light{
background:#f8f7f6;
}